header{
	background-color: rgb(33, 37, 41);
}
.Wrapper{
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 12px 0 12px;
	text-size-adjust: 100%;
	padding-top: 20px;
	display: none;

}
.leftWrap{
	max-width: 746px;
	display: inline-block;
	padding: 24px 12 24px 12;
}
.leftWrap h2{
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	color: rgb(255, 255, 255);
	line-height: 28.8px;
}

.leftWrap p{
	font-size: 1rem;
	color: rgb(108, 117, 125);
	margin-bottom: 16px;
	text-align:start;
	line-height: 1.5rem;
}
.rightwrap{
	max-width: 416px;
	display: inline-block;
	margin-left: 110px;
	padding: 24px 12 24px 12px;
	vertical-align: top;
}
.rightwrap div{
	max-width: 125px;
	color: rgb(255, 255, 255);
}
.rightwrap h2{
	width: 1.5rem;
	line-height: 28.8px;
	color: rgb(255, 255, 255);
	margin-bottom: 8px;
}
.rightwrap a{
	color: rgb(255, 255, 255);
	font-size: 1rem;
	line-height: 24px;
}
.imgSize{
	width: 30px;

}
i{
	color: rgb(255, 255, 255);
	width: 24px;
	display: inline-block;
}
h3{
	display: inline-block;
	color: rgb(255, 255, 255);
	width: 1.25rem;
	line-height: 30px;
}
.logoWrap{
	max-width: 1320px;
	margin: 0 291.5px 0 291.5px;
	padding: 0 12px 0 12px;
}
.leftLogo{
	display: inline-block;

}
.burgerDiv{
	display: inline-block;
	padding-left: 1100px;
	vertical-align: top;
	border-bottom-color: rgba(255, 255, 255, 0.1);
	padding-top: 4px;
}
i,
h3{
	margin-right: 16px;
	padding: 5px 0 5px 0;
}
#mainContentWrap{
	width: 1296px;
	margin: 0 auto;
	padding: 48px 12px 48px 12px;

}
.childContent{
	width: 1320px;
	margin: 0 -12px 0 -12px;
	padding: 48px 0 48px 0;
}
.text-content{
	width:636px;
	margin: 0 330px 0 330px;
}
h1{
	font-size: 2.5rem;
	color: rgb(33, 37, 41);
	font-weight: 300;
	line-height: 48px;
	text-align: center;
	margin-bottom: 8px;
}
.text-content p{
	margin-bottom: 16px;
	font-size: 1.25rem;
	line-height: 30px;
	text-align: center;
	color: rgb(108, 117, 125);
}
#btn1{
	text-decoration: none;
	border: 1px solid rgb(13, 110, 253);
	background-color: rgb(13, 110, 253);
	width: 129.922px;
	padding: 6px 12px 6px 12px;
	margin: 8px 0px 8px 0px;
	border-radius: 4px;
	color: white;	

}
#btn2{
	text-decoration: none;
	border: 1px solid rgb(86, 94, 100);
	background-color: rgb(86, 94, 100);
	width: 129.922px;
	padding: 6px 12px 6px 12px;
	margin: 8px 0px 8px 0px;
	border-radius: 4px;
	color: white;
}
.btnStyle{
	align-items: center;
	text-align: center;
}
.container{
	max-width: 1320px;
	margin: 0 auto;
	background-color: aqua;
	padding: 0 12px 0 12px;
	height: 1182px;
	margin-top: 48px;
	margin-bottom: 48px;
}
.col{
	width:421.328px ;
	height: 378px;
	background-color:brown ;
	display: inline-block;
	margin-top: 16px;
	vertical-align: top;
}
.row{
	margin-top: -16px -8px -16px -8px;
}
.miniCol{
	height: 225px;
	width: 419.328px;
	background-color:rgb(85, 89, 92) ;
}
.miniCol h3{
	text-align: center;
}
body{
	background-color:rgb(248, 249, 250);
}
footer{
	background-color:rgb(220 227 233) ;
	height: 148px;
	padding: 48px 0 48px 0;
}
.footerContainer{
	width: 1296px;
	padding: 0 12px 0 12px;
	margin: 0 auto;
	
}
#firstP,
#secondP{
	display: inline-block;
	font-size: 1rem;
	vertical-align: top;
	color: rgb(108, 117, 125);
}
#secondP{
	padding-left: 1000px;
	vertical-align: top;
}
#thirdP{
	color: rgb(108, 117, 125);
	font-size: 1rem;
}
footer a{
	color: rgb(10, 88, 202);
}

